* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
  background-color: rgba(255, 255, 255, 0.637);
  
}
.caja1 {
  display: flex;
  
}
.caja1 img {
  min-width: 350px;
  margin: auto;
  border: 20px solid rgb(145, 95, 31);
}

h1 {
  border: solid goldenrod;
  text-align: center;
}

.container {
  background-color: rgb(200, 134, 48);  
}

.nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.nav__a {
  color: red;
  align-self: center;
margin-top: 15px;
}

.nav__h2 {
  color: black;
  align-self: center;
}

.article__h2{
  border: solid rgb(89, 214, 43);
  text-align: center;
}

.botones-menu_all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1;
  
  
}

.container-libro {
  min-width: 150px;
  height: 300px;
  background-color: aqua;
}



input {
  visibility: hidden;
}

label {
  background-color: brown;
}

footer {
  background-color: black;
  color: white;
  margin: 40px 0px;
  text-align: center;
}