body {
  background-color: #c6d8af;
  height: 100vh;
  font-family: "Bebas Neue", cursive;
  display: grid;
  grid-template-columns: 5% repeat(6, 15%) 5%;
  grid-template-rows: 150px 1fr 20% 10%;
  grid-gap: 5px;
  justify-content: space-evenly;
}
header {
  display: flex;
  grid-column: 1 / 8;
  height: 100%;
  justify-content: center;
}
main {
  background-color: #e31e24;
  grid-row: 2 / 4;
  grid-column: 2 / 7;
}

aside {
  background-color: blue;
  grid-column: 7 / 8;
  grid-row: 2/4;
}

footer {
  background-color: black;
  grid-row: 4 /5;
  grid-column: 2/8;
}
.navbar {
  background-color: #e31e24;
  display: flex;
  width: 90%;
  height: 3em;
  position: relative;
  margin: 10vh 12vh;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;

  border: 3px #fcc8b2 solid;
  -webkit-box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.66);
}

.navbar__div {
  flex-basis: 100%;
  height: 3em;
  display: flex;
}
.nav__links {
  width: 50%;
  display: flex;
  box-sizing: border-box;
  justify-content: end;
  align-items: center;
}

.nav__links a {
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
  color: #dbd8b3;
  height: 1em;
  text-decoration: none;
  margin: 10px 15px;
}

.nav__links a:hover {
  color: #fcc8b2;
  transform: scale(1.1);

  border-radius: 13px;
}
.img {
  height: 3em;
  display: flex;
  justify-content: center;
  text-align: center;
}
.img img {
  position: absolute;
  top: -150%;
  left: 5%;
  height: 70px;
  object-fit: cover;
}

.titulo {
  width: 100%;
  height: 100%;

  text-align: center;
  letter-spacing: 1px;
}

.titulo h1 {
  margin: 0.2em 1em;
}
