* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-color: rgba(255, 255, 255, 0.637);
}

footer {
  background-color: black;
  color: white;
  margin: 40px 0px;
  text-align: center;
}
